.whatsapp-icon {
  width: 60px;
  height: 60px;
  display: block;
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  background: #25d366;
  border-radius: 100%;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3); }
  .whatsapp-icon:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(deg);
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
    transition: width 0.5s, height 0.5s, transform 0.5s; }

.whatsapp-icon svg#whatsapp-msng-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: opacity 160ms ease-in-out;
  -moz-transition: opacity 160ms ease-in-out;
  -o-transition: opacity 160ms ease-in-out;
  transition: opacity 160ms ease-in-out; }

.whatsapp-icon svg#whatsapp-close-icon {
  opacity: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-transition: opacity 160ms ease-in-out;
  -moz-transition: opacity 160ms ease-in-out;
  -o-transition: opacity 160ms ease-in-out;
  transition: opacity 160ms ease-in-out; }

.whatsapp-icon.open svg#whatsapp-msng-icon {
  opacity: 0; }

path {
  fill: #fff; }

.whatsapp-icon.open svg#whatsapp-close-icon {
  opacity: 1; }

.whatsapp-container {
  position: fixed;
  bottom: 90px;
  right: 15px;
  transform: translateY(50px);
  opacity: 0;
  border-radius: 10px;
  pointer-events: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
  -webkit-transition: transform 160ms ease-in-out, opacity 160ms ease-in-out;
  -moz-transition: transform 160ms ease-in-out, opacity 160ms ease-in-out;
  -o-transition: transform 160ms ease-in-out, opacity 160ms ease-in-out;
  transition: transform 160ms ease-in-out, opacity 160ms ease-in-out; }

.whatsapp-container.open {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all; }

.whatsapp-container-header {
  display: block;
  position: relative;
  width: 300px;
  background: #25d366;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  line-height: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.whatsapp-container-inner {
  width: 300px;
  height: 280px;
  background: #fff;
  position: relative; }

.whatsapp-container-textarea {
  border: 0 !important;
  outline: none;
  resize: none;
  height: 100%;
  width: 100%;
  background: transparent !important;
  border-radius: 0 !important;
  color: #000;
  padding: 20px 40px !important;
  transition: none; }

.whatsapp-container-textarea::-webkit-input-placeholder {
  color: #cfcfcf; }

.whatsapp-container-textarea::-moz-placeholder {
  color: #cfcfcf; }

.whatsapp-container-textarea:-ms-input-placeholder {
  color: #cfcfcf; }

.whatsapp-container-textarea:-moz-placeholder {
  color: #cfcfcf; }

.whatsapp-container-footer {
  padding: 18px 0;
  background: #25d366;
  color: #fff;
  text-align: center;
  cursor: pointer; }

.whatsapp-container-footer:hover {
  background: #0ba360; }

.whatsapp-icon::after, .whatsapp-icon::before {
  content: '';
  position: absolute;
  opacity: 0;
  border: 4px solid #25d366;
  left: -10px;
  top: -10px;
  right: -10px;
  bottom: -10px;
  -webkit-animation: WaveWhatsApp 1.5s ease infinite;
  animation: WaveWhatsApp 1.5s ease infinite; }

.whatsapp-icon {
  width: 50px;
  height: 50px;
  left: 40px;
  bottom: 40px;
  background: #25d366; }

.whatsapp-icon svg#whatsapp-msng-icon {
  width: 35px;
  height: 35px;
  top: 7px;
  left: 8px; }

.whatsapp-container {
  bottom: 110px;
  right: inherit;
  left: 15px; }

.whatsapp-icon svg#whatsapp-close-icon {
  width: 20px;
  height: 20px;
  top: 15px;
  left: 15px; }

@keyframes WaveWhatsApp {
  0% {
    border-radius: 50%;
    transform: scale(0.5); }
  50% {
    border-radius: 50%;
    opacity: 1; }
  100% {
    border-radius: 50%;
    transform: scale(1.2);
    opacity: 0; } }

.whatsapp-icon {
  z-index: 10000; }

.whatsapp-container {
  z-index: 9999; }
