extends layout.pug

block content
    h1 Sobre
    p Esta ferramenta é utilizada para testes de software e os dados são gerados de forma aleatória. 
    p A má utilização das informações aqui gerados é de total responsabilidade do usuário.
