extends layout.pug

block content
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
    link(rel="stylesheet", href="css/scrolltotop.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="js/scrolltotop.js")
    h1 Plugin ScroolTop 
        i.fas.fa-arrow-up
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
