extends layout.pug

block content
    h1 Transformador de Texto - Maiúsculas <> Minúsculas
    
    form
        textarea(name="lower", cols="30", rows="10")
        textarea(name="upper", cols="30", rows="10")

        textarea(name="alternate", cols="30", rows="10")
        button(name="alternate", type="button") AlTeRnAdO

        textarea(name="reverse", cols="30", rows="10")
        button(name="reverse", type="button") Inverter

        textarea(name="first_letter", cols="30", rows="10")
        button(name="first_letter", type="button") Primeira Letra Maiúsculas
        
        textarea(name="first_word", cols="30", rows="10")
        button(name="first_word", type="button") Primeira Palavra Maiúsculas
        
block scripts
    script(src="js/index.js")
