extends layout.pug

block content
    form
        textarea(name="base", cols="30", rows="10")
        textarea(name="result", cols="30", rows="10")
        span Estado de Origem do CPF
        span copiar cpf
        button Gerar CPF
        button Validar CPF
        input(type='checkbox')
        | Pontuação 

        div 
            h1 Algoritmo
            p 
            | O CPF é composto por onze algarismos, em que os dois últimos são chamados de dígitos verificadores, 
            | criados a partir dos nove primeiros, validando o número como um todo. 
            | O cálculo desses dígitos é realizado em duas etapas utilizando o módulo de divisão 11.

            h1 Como conferir a origem de um CPF
            p
            | O último dígito anterior aos dois dígitos de controle identifica a unidade federativa na qual a pessoa foi registrada (ex: 000.000.006-00).
            | 0 - Rio Grande do Sul
            | 1 - Distrito Federal, Goiás, Mato Grosso do Sul e Tocantins
            | 2 - Pará, Amazonas, Acre, Amapá, Rondônia e Roraima
            | 3 - Ceará, Maranhão e Piauí
            | 4 - Pernambuco, Rio Grande do Norte, Paraíba e Alagoas
            | 5 - Bahia e Sergipe
            | 6 - Minas Gerais
            | 7 - Rio de Janeiro e Espírito Santo
            | 8 - São Paulo
            | 9 - Paraná e Santa Catarina
                    
block scripts
    script(src="js/cpf.js")

