extends layout.pug

block content
    h1 Informações

    code.highlighter-rouge Browser
    span &nbsp;
    code.highlighter-rouge IP
    span &nbsp;
    code.highlighter-rouge Sistema Operacional
    div
        strong Navegador: 
        span Mozilla Firefox
        br
        strong Versão: 
        span 62.0
        br
        strong IP: 
        span 191.43.86.41
        br 
        strong DNS Reverso: 
        span 191.43.86.41
        br        
        strong Sistema Operacional: 
        span Linux
        br        
        strong Resolução de tela: 
        span 1366x768 

                    
block scripts

