<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#ee0979")
        title Wtools
    body
        form
            textarea(name="lower", cols="30", rows="10")
            textarea(name="upper", cols="30", rows="10")
    script(src="js/index.js")
