<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#ee0979")
        link(href="css/index.css", rel="stylesheet")
        title Wtools
    body
        .topnav
            a.active Home
            a News
            a Contact
            a About
        br                
        a(href="/") Wtools
        br
        code.highlighter-rouge keyword
        h1.text-green Transformador de Texto - Maiúsculas <> Minúsculas
        form
            textarea(name="lower", cols="30", rows="10")
            textarea(name="upper", cols="30", rows="10")
    script(src="js/index.js")
