$main-background-color: #292525;
$main-text-color: #b5e853;
$main-font: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;

$link-color: #63c0f5;
$link-color-shadow: 0 0 5px rgba(104, 182, 255, 0.5);

$code-background-color: rgba(0, 0, 0, 0.9);
$code-text-color: #aa759f;

$code-background-color-2: #333;

html {
    font-family: $main-font;
    background-color: $main-background-color;
    color: $main-text-color;
}

a {
    color: $link-color;
    text-shadow: $link-color-shadow;
}

code.highlighter-rouge {
    background: $code-background-color;
    padding: 0px 3px;
    margin: 0px -3px;
    color: $code-text-color;
}

// bar top
/* Add a black background color to the top navigation */
.topnav {
    background-color: $code-background-color-2;
    overflow: hidden;

    /* Style the links inside the navigation bar */
    a {
        float: left;
        cursor: pointer;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-size: 17px;

        /* Change the color of links on hover */
        &:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        &.brand {
            background-color: #4caf50;
            color: white;

            /* Change the color of links on hover */
            &:hover {
                background: $code-background-color;
                color: $code-text-color;
            }
        }
    }
}

//Menu 
#menu {
    ul {
        padding: 10px;
        margin: 0px;
        background-color: $code-background-color-2;
        list-style:none;
        width: 200px;
        height: 100%;
    }

    li:hover .submenu {
        display: block;
        width: 150px;
        max-height: 100px;
    }

    .submenu {
        display: none;
        overflow: hidden;
        max-height: 0;
        -webkit-transition: all 0.5s ease-out;
    }
}
